@import url('https://fonts.googleapis.com/css2?family=Abel&family=Megrim&family=Montserrat+Alternates:wght@600&family=Syncopate:wght@700&display=swap');
html,head,body {
  width: 100%;
  height: 100%;
  min-width: 500px;
  min-height: 500px;
  margin: 0;
  padding: 0;

}
footer {
  font-family: 'Megrim', cursive;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 16px;
  text-align: center;
  height: fit-content;
  background: aliceblue; 
  border: thick double azure;
}
h1 {
  margin: 0 auto;
  width:375px;
  padding: 24px;
  border: thick double azure;
  font-family: 'Montserrat Alternates', sans-serif;
  background: aliceblue;
  height: fit-content;
  text-align: center;
  transform: rotate(90deg);
  position: absolute;
  right: -150px;
  top: 120px;

}
h2,h3 {
  font-family: 'Megrim', cursive;
  text-align: center;
  background: mintcream;
  padding: 16px;
  margin-bottom: 24;
  border: thick double aliceblue;
  border-radius: 30px;
}

.summary {
  font-family: 'Abel', sans-serif;
  text-align: center;
  text-decoration-color: transparent;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, .4);
  min-height: 150px;
  padding: 16px;
  border: thick double aliceblue;
  border-radius: 30px;
  
}
a:hover{
  color:lightsalmon;  
}

.preamble {
  font-family: 'Abel', sans-serif;
  text-align: center;
  text-decoration-color: transparent;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, .4);
  min-height: 150px;
  padding: 16px;
  border: thick double aliceblue;
  border-radius: 10% / 50%;
}
.explanation{
  font-family: 'Abel', sans-serif;
  text-align: center;
  text-decoration-color: transparent;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, .4);
  min-height: 150px;
  padding: 16px;
  border: thick double aliceblue;
  border-radius: 10% / 50%;
}
.participation {
  font-family: 'Abel', sans-serif;
  text-align: center;
  text-decoration-color: transparent;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, .4);
  min-height: 150px;
  padding: 16px;
  border: thick double aliceblue;
  border-radius: 10% / 50%;
}
.benefits {
  font-family: 'Abel', sans-serif;
  text-align: center;
  text-decoration-color: transparent;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, .4);
  min-height: 150px;
  padding: 16px;
  border: thick double aliceblue;
  border-radius: 10% / 50%;
}
.requirements{
  font-family: 'Abel', sans-serif;
  text-align: center;
  text-decoration-color: transparent;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, .4);
  min-height: 150px;
  padding: 16px;
  border: thick double aliceblue;
  border-radius: 10% / 80%;
}
.sidebar {
  font-family: 'Abel', sans-serif;
  background: aliceblue;
  margin: 24px;
  height: fit-content;
  text-align: center;
  text-decoration-color: transparent;
  width: 95%;
  max-width: 200px;
  margin: 0 auto;
  background: rgba(255, 255, 255, .4);
  min-height: 150px;
  padding: 16px;
  position: absolute;
  right: 0px;
  top: 375px;
  border: thick double aliceblue;
  border-radius: 30px;
}
.page-wrapper {
  position: relative;
  
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0
      200px,
    url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px,
    url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px
      250px;
  animation: wind 20s linear infinite;
}
@keyframes wind {
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
 
  }
}

@media screen and (max-width: 1320px){
  h1{
    transform: rotate(0deg);
    position: static;
  }
  .sidebar {
    position: static;
  }
}