@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
html,head,body {
  width: 100%;
  height: 100%;
  min-width: 500px;
  min-height: 500px;
  margin: 0;
  padding: 0;

}
* {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}
footer {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 16px;
  text-align: center;
  font-family:"Omnium Wide";
  height: fit-content;
  background: ghostwhite; 
  border: thick double aliceblue;
}
h1 {
  margin: 0 auto;
  width:500px;
  padding: 24px;
  border: thick double azure;
  font-family: "Omnium Wide";
  background: aliceblue;
 
  height: fit-content;
  text-align: center;
  transform: rotate(90deg);
  position: absolute;
  right: -150px;
  top: 120px;

}
h2,h3 {
  font-family: "Bebas Neue", serif;
  text-align: center;
  background: ghostwhite;
  padding: 16px;
  margin-bottom: 24;
  border: thick double aliceblue;  
}

.summary {
  text-align: center;
  text-decoration-color: transparent;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, .4);
  min-height: 150px;
  padding: 16px;
  border: thick double aliceblue;   
}
.preamble {
  text-align: center;
  text-decoration-color: transparent;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, .4);
  min-height: 150px;
  padding: 16px;
  border: thick double aliceblue;
}
.explanation{
  text-align: center;
  text-decoration-color: transparent;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, .4);
  min-height: 150px;
  padding: 16px;
  border: thick double aliceblue;
}
.participation {
  text-align: center;
  text-decoration-color: transparent;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, .4);
  min-height: 150px;
  padding: 16px;
  border: thick double aliceblue;
}
.benefits {
  text-align: center;
  text-decoration-color: transparent;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, .4);
  min-height: 150px;
  padding: 16px;
  border: thick double aliceblue;
}
.requirements{
  text-align: center;
  text-decoration-color: transparent;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, .4);
  min-height: 150px;
  padding: 16px;
  border: thick double aliceblue;
}
.sidebar {
  font-family: 'Gotu', sans-serif;
  background: aliceblue;
  margin: 24px;
  height: fit-content;
  text-align: center;
  text-decoration-color: transparent;
  width: 95%;
  max-width: 200px;
  margin: 0 auto;
  background: rgba(255, 255, 255, .4);
  min-height: 150px;
  padding: 16px;
  position: absolute;
  right: 0px;
  top: 350px;
  border: thick double aliceblue;
}
.page-wrapper {
  position: relative;
  
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0
      200px,
    url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px,
    url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px
      250px;
  animation: wind 20s linear infinite;
}
@keyframes wind {
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
 
  }

}
